
<ion-content fullscreen>

 <ion-item class="buttons">
   <!--Botón para cerrar la imagen y regresarnos al inicio-->
  <ion-button position="right" (click) ="closeModal()" fill="clear">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Regresar
    </ion-button>
</ion-item>

  <!--De esta manera cargamos las imagenes que tengamos y podemos verlas mientras deslizamos-->
  <ion-slides pager="true" #slides [options]="slideOpts" loop="true" zoom="true" *ngIf="viewEntered" (ionSlidesDidLoad)="slides.slideTo(index, 0)">
    <ion-slide *ngFor="let imagen of imagenes ">
      <img style="border-radius: 10px;" src="{{imagen}}" alt="">
    </ion-slide>
  </ion-slides>


</ion-content>
