<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi galería
    </ion-title>
    <img style="border-radius: 20px;" style="width: 80px; height: 80px;"
     src="https://icon-library.com/images/image-icon-png/image-icon-png-6.jpg">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let imagen of imagenes; index as ind">
        <!--Se muestran todas las imagenes y agregamos una funcion para ammpliar la imagen-->
        <img style="border-radius: 10px; width 120px; height: 120px;" src="{{imagen}}" alt="" srcset="" (click)="zoomImg(ind)">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
